APP_ENV=local
ENVIRONMENT=Development
ASPNETCORE_ENVIRONMENT=Development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASSWORD=Test123
CORE_DB_NAME=campfit_core
CORE_DB_USER=core_user
CORE_DB_PASSWORD=Test123
ADVENTURE_DB_NAME=campfit_adventure
ADVENTURE_DB_USER=adventure_user
ADVENTURE_DB_PASSWORD=Test123
ANALYTICS_DB_NAME=campfit_analytics
ANALYTICS_DB_USER=analytics_user
ANALYTICS_DB_PASSWORD=Test123
KEY_VAULT_URI=https://<vault>.vault.azure.net/
KEY_VAULT_NAME=<vault>
USER_ASSIGNED_IDENTITY_CLIENT_ID=<managed-identity-client-id>
AZURE_CLIENT_ID=<managed-identity-client-id>
FIREBASE_PROJECT_ID=<firebase-project-id>
SERVICES__COREAPI__BASEURL=http://campfit-core-api:8080
SERVICES__ADVENTUREAPI__BASEURL=http://campfit-adventure:8080
SERVICES__ANALYTICSAPI__BASEURL=http://analytics-read-service:8000
